---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Finance Bros can Rank Too, but tech bros do
I miss you, I do
`;
---

<Layout title="">
    
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
